recursive-include wagtail_draftail_anchors/static/wagtaildraftailanchors/fonts *
recursive-include wagtail_draftail_anchors/static/wagtaildraftailanchors/js *
recursive-include wagtail_draftail_anchors/templates *